In [58]:
import pandas as pd 
pd.set_option("display.max_columns",30)
pd.set_option("display.max_rows",3000)
import matplotlib.pyplot as plt 
import cufflinks as cf 
cf.go_offline()
import numpy as np

### imputacion variables continuas
from sklearn.impute import SimpleImputer
from scipy.stats import ks_2samp

In [59]:
df = pd.read_csv("C:/Users/migue/OneDrive/Desktop/PruebasMinerias/DMUNAM2025/practica_3/dataset/titanic.csv")

In [60]:
df.shape

(1310, 14)

In [61]:
df.survived.value_counts(True)

survived
0.0    0.618029
1.0    0.381971
Name: proportion, dtype: float64

Podemos obervar gracias a nuestra funcion que tenemos 61% de personas que no sobrevivieron vs 38% que han sobrevivido

In [62]:
df.sample(50)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
60,1.0,0.0,"Cavendish, Mr. Tyrell William",male,36.0,1.0,0.0,19877,78.8500,C46,S,NaN,172.0,"Little Onn Hall, Staffs"
1064,3.0,1.0,"Niskanen, Mr. Juha",male,39.0,0.0,0.0,STON/O 2. 3101289,7.9250,NaN,S,9,NaN,NaN
470,2.0,0.0,"Keane, Mr. Daniel",male,35.0,0.0,0.0,233734,12.3500,NaN,Q,NaN,NaN,NaN
506,2.0,0.0,"Mitchell, Mr. Henry Michael",male,70.0,0.0,0.0,C.A. 24580,10.5000,NaN,S,NaN,NaN,"Guernsey / Montclair, NJ and/or Toledo, Ohio"
529,2.0,1.0,"Parrish, Mrs. (Lutie Davis)",female,50.0,0.0,1.0,230433,26.0000,NaN,S,12,NaN,"Woodford County, KY"
647,3.0,1.0,"Assaf Khalil, Mrs. Mariana (""Miriam"")",female,45.0,0.0,0.0,2696,7.2250,NaN,C,C,NaN,"Ottawa, ON"
15,1.0,0.0,"Baumann, Mr. John D",male,NaN,0.0,0.0,PC 17318,25.9250,NaN,S,NaN,NaN,"New York, NY"
872,3.0,1.0,"Howard, Miss. May Elizabeth",female,NaN,0.0,0.0,A. 2. 39186,8.0500,NaN,S,C,NaN,NaN
514,2.0,1.0,"Navratil, Master. Edmond Roger",male,2.0,1.0,1.0,230080,26.0000,F2,S,D,NaN,"Nice, France"
914,3.0,0.0,"Karlsson, Mr. Julius Konrad Eugen",male,33.0,0.0,0.0,347465,7.8542,NaN,S,NaN,NaN,NaN
1255,3.0,0.0,"Toufik, Mr. Nakli",male,NaN,0.0,0.0,2641,7.2292,NaN,C,NaN,NaN,NaN
487,2.0,0.0,"Lingane, Mr. John",male,61.0,0.0,0.0,235509,12.3500,NaN,Q,NaN,NaN,NaN
680,3.0,0.0,"Boulos, Mr. Hanna",male,NaN,0.0,0.0,2664,7.2250,NaN,C,NaN,NaN,Syria
314,1.0,1.0,"Widener, Mrs. George Dunton (Eleanor Elkins)",female,50.0,1.0,1.0,113503,211.5000,C80,C,4,NaN,"Elkins Park, PA"
811,3.0,0.0,"Ford, Mrs. Edward (Margaret Ann Watson)",female,48.0,1.0,3.0,W./C. 6608,34.3750,NaN,S,NaN,NaN,"Rotherfield, Sussex, England Essex Co, MA"
752,3.0,0.0,"Davies, Mr. Alfred J",male,24.0,2.0,0.0,A/4 48871,24.1500,NaN,S,NaN,NaN,"West Bromwich, England Pontiac, MI"
912,3.0,0.0,"Karaic, Mr. Milan",male,30.0,0.0,0.0,349246,7.8958,NaN,S,NaN,NaN,NaN
601,3.0,0.0,"Abbott, Master. Eugene Joseph",male,13.0,0.0,2.0,C.A. 2673,20.2500,NaN,S,NaN,NaN,"East Providence, RI"
1223,3.0,1.0,"Stanley, Miss. Amy Zillah Elsie",female,23.0,0.0,0.0,CA. 2314,7.5500,NaN,S,C,NaN,NaN
701,3.0,0.0,"Calic, Mr. Petar",male,17.0,0.0,0.0,315086,8.6625,NaN,S,NaN,NaN,NaN
742,3.0,1.0,"Dahl, Mr. Karl Edwart",male,45.0,0.0,0.0,7598,8.0500,NaN,S,15,NaN,"Australia Fingal, ND"
633,3.0,0.0,"Andreasson, Mr. Paul Edvin",male,20.0,0.0,0.0,347466,7.8542,NaN,S,NaN,NaN,"Sweden Chicago, IL"
134,1.0,1.0,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1.0,0.0,17453,89.1042,C92,C,5,NaN,"Paris, France / New York, NY"
572,2.0,1.0,"Trout, Mrs. William H (Jessie L)",female,28.0,0.0,0.0,240929,12.6500,NaN,S,NaN,NaN,"Columbus, OH"
969,3.0,0.0,"Lindell, Mrs. Edvard Bengtsson (Elin Gerda Per...",female,30.0,1.0,0.0,349910,15.5500,NaN,S,A,NaN,NaN
472,2.0,0.0,"Kirkland, Rev. Charles Leonard",male,57.0,0.0,0.0,219533,12.3500,NaN,Q,NaN,NaN,"Glasgow / Bangor, ME"
42,1.0,1.0,"Brown, Mrs. John Murray (Caroline Lane Lamson)",female,59.0,2.0,0.0,11769,51.4792,C101,S,D,NaN,"Belmont, MA"
1032,3.0,0.0,"Morrow, Mr. Thomas Rowan",male,NaN,0.0,0.0,372622,7.7500,NaN,Q,NaN,NaN,NaN
1173,3.0,0.0,"Sage, Miss. Constance Gladys",female,NaN,8.0,2.0,CA. 2343,69.5500,NaN,S,NaN,NaN,NaN
291,1.0,1.0,"Taussig, Mrs. Emil (Tillie Mandelbaum)",female,39.0,1.0,1.0,110413,79.6500,E67,S,8,NaN,"New York, NY"
274,1.0,1.0,"Spedden, Mr. Frederic Oakley",male,45.0,1.0,1.0,16966,134.5000,E34,C,3,NaN,"Tuxedo Park, NY"
454,2.0,1.0,"Hosono, Mr. Masabumi",male,42.0,0.0,0.0,237798,13.0000,NaN,S,10,NaN,"Tokyo, Japan"
149,1.0,1.0,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.0,1.0,0.0,36973,83.4750,C83,S,D,NaN,"New York, NY"
1267,3.0,0.0,"Van Impe, Mrs. Jean Baptiste (Rosalie Paula Go...",female,30.0,1.0,1.0,345773,24.1500,NaN,S,NaN,NaN,NaN
751,3.0,0.0,"Dantcheff, Mr. Ristiu",male,25.0,0.0,0.0,349203,7.8958,NaN,S,NaN,NaN,"Bulgaria Chicago, IL"
298,1.0,1.0,"Tucker, Mr. Gilbert Milligan Jr",male,31.0,0.0,0.0,2543,28.5375,C53,C,7,NaN,"Albany, NY"
240,1.0,1.0,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45.0,0.0,0.0,111428,26.5500,NaN,S,9,NaN,"New York, NY"
1206,3.0,0.0,"Skoog, Master. Harald",male,4.0,3.0,2.0,347088,27.9000,NaN,S,NaN,NaN,NaN
112,1.0,1.0,"Fortune, Miss. Ethel Flora",female,28.0,3.0,2.0,19950,263.0000,C23 C25 C27,S,10,NaN,"Winnipeg, MB"
420,2.0,0.0,"Giles, Mr. Frederick Edward",male,21.0,1.0,0.0,28134,11.5000,NaN,S,NaN,NaN,"Cornwall / Camden, NJ"
294,1.0,0.0,"Thayer, Mr. John Borland",male,49.0,1.0,1.0,17421,110.8833,C68,C,NaN,NaN,"Haverford, PA"
263,1.0,1.0,"Silvey, Mrs. William Baird (Alice Munger)",female,39.0,1.0,0.0,13507,55.9000,E44,S,11,NaN,"Duluth, MN"
921,3.0,0.0,"Keefe, Mr. Arthur",male,NaN,0.0,0.0,323592,7.2500,NaN,S,A,NaN,NaN
1162,3.0,1.0,"Ryan, Mr. Edward",male,NaN,0.0,0.0,383162,7.7500,NaN,Q,14,NaN,NaN
1151,3.0,0.0,"Risien, Mrs. Samuel (Emma)",female,NaN,0.0,0.0,364498,14.5000,NaN,S,NaN,NaN,NaN
1203,3.0,0.0,"Sivic, Mr. Husein",male,40.0,0.0,0.0,349251,7.8958,NaN,S,NaN,NaN,NaN
231,1.0,1.0,"Peuchen, Major. Arthur Godfrey",male,52.0,0.0,0.0,113786,30.5000,C104,S,6,NaN,"Toronto, ON"
878,3.0,0.0,"Ilmakangas, Miss. Pieta Sofia",female,25.0,1.0,0.0,STON/O2. 3101271,7.9250,NaN,S,NaN,NaN,NaN
167,1.0,1.0,"Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)",female,35.0,1.0,0.0,19943,90.0000,C93,S,D,NaN,"New York, NY / Stamford CT"
1185,3.0,0.0,"Samaan, Mr. Hanna",male,NaN,2.0,0.0,2662,21.6792,NaN,C,NaN,NaN,NaN

In [63]:
def completitud_datos_nulos(df):
    return df.isnull().sum().sort_values(ascending=False) / df.shape[0]

In [64]:
completitud_datos_nulos(df)

body         0.907634
cabin        0.774809
boat         0.629008
home.dest    0.431298
age          0.201527
embarked     0.002290
fare         0.001527
sibsp        0.000763
name         0.000763
survived     0.000763
pclass       0.000763
sex          0.000763
parch        0.000763
ticket       0.000763
dtype: float64

Podemos observar que  body, cabin, boat y home.dest tien un porcentaje alto de nuelos, por lo cual podemos eliminarlas

In [65]:
columna_e = ['body', 'cabin', 'boat', 'home.dest']

df = df.drop(columna_e, axis=1)

In [68]:
completitud_datos_nulos(df)

age         0.201070
embarked    0.001529
survived    0.000000
pclass      0.000000
sex         0.000000
name        0.000000
sibsp       0.000000
parch       0.000000
ticket      0.000000
fare        0.000000
dtype: float64

podemos observar que ahora solo tenemos age y embarked con nulos, considerendo su porcentaje podemos imputar datos al modelo

In [67]:
df = df[(~df["survived"].isnull()) & ~df["pclass"].isnull() & ~df["fare"].isnull() ]

In [69]:
df.shape

(1308, 10)

In [70]:
df.sample(50)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,embarked
324,2.0,1.0,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1.0,0.0,P/PP 3381,24.0000,C
152,1.0,1.0,"Hawksford, Mr. Walter James",male,NaN,0.0,0.0,16988,30.0000,S
964,3.0,0.0,"Lester, Mr. James",male,39.0,0.0,0.0,A/4 48871,24.1500,S
501,2.0,1.0,"Mellinger, Miss. Madeleine Violet",female,13.0,0.0,1.0,250644,19.5000,S
1166,3.0,0.0,"Saade, Mr. Jean Nassr",male,NaN,0.0,0.0,2676,7.2250,C
741,3.0,0.0,"Daher, Mr. Shedid",male,22.5,0.0,0.0,2698,7.2250,C
244,1.0,0.0,"Ross, Mr. John Hugo",male,36.0,0.0,0.0,13049,40.1250,C
384,2.0,0.0,"Cunningham, Mr. Alfred Fleming",male,NaN,0.0,0.0,239853,0.0000,S
370,2.0,1.0,"Christy, Miss. Julie Rachel",female,25.0,1.0,1.0,237789,30.0000,S
628,3.0,0.0,"Andersson, Miss. Sigrid Elisabeth",female,11.0,4.0,2.0,347082,31.2750,S
1182,3.0,1.0,"Salkjelsvik, Miss. Anna Kristine",female,21.0,0.0,0.0,343120,7.6500,S
967,3.0,0.0,"Lindblom, Miss. Augusta Charlotta",female,45.0,0.0,0.0,347073,7.7500,S
55,1.0,1.0,"Carter, Miss. Lucile Polk",female,14.0,1.0,2.0,113760,120.0000,S
1022,3.0,0.0,"Mitkoff, Mr. Mito",male,NaN,0.0,0.0,349221,7.8958,S
437,2.0,1.0,"Herman, Miss. Alice",female,24.0,1.0,2.0,220845,65.0000,S
637,3.0,0.0,"Aronsson, Mr. Ernst Axel Algot",male,24.0,0.0,0.0,349911,7.7750,S
393,2.0,0.0,"Denbury, Mr. Herbert",male,25.0,0.0,0.0,C.A. 31029,31.5000,S
850,3.0,0.0,"Hansen, Mr. Henry Damsgaard",male,21.0,0.0,0.0,350029,7.8542,S
487,2.0,0.0,"Lingane, Mr. John",male,61.0,0.0,0.0,235509,12.3500,Q
354,2.0,0.0,"Bryhl, Mr. Kurt Arnold Gottfrid",male,25.0,1.0,0.0,236853,26.0000,S
1155,3.0,0.0,"Rommetvedt, Mr. Knud Paust",male,NaN,0.0,0.0,312993,7.7750,S
998,3.0,0.0,"Matinoff, Mr. Nicola",male,NaN,0.0,0.0,349255,7.8958,C
228,1.0,0.0,"Penasco y Castellana, Mr. Victor de Satode",male,18.0,1.0,0.0,PC 17758,108.9000,C
242,1.0,1.0,"Rosenbaum, Miss. Edith Louise",female,33.0,0.0,0.0,PC 17613,27.7208,C
1189,3.0,1.0,"Sandstrom, Miss. Marguerite Rut",female,4.0,1.0,1.0,PP 9549,16.7000,S
132,1.0,0.0,"Giglio, Mr. Victor",male,24.0,0.0,0.0,PC 17593,79.2000,C
1301,3.0,0.0,"Youseff, Mr. Gerious",male,45.5,0.0,0.0,2628,7.2250,C
1085,3.0,0.0,"Olsen, Mr. Ole Martin",male,NaN,0.0,0.0,Fa 265302,7.3125,S
962,3.0,0.0,"Lennon, Mr. Denis",male,NaN,1.0,0.0,370371,15.5000,Q
73,1.0,1.0,"Cleaver, Miss. Alice",female,22.0,0.0,0.0,113781,151.5500,S
1116,3.0,0.0,"Peduzzi, Mr. Joseph",male,NaN,0.0,0.0,A/5 2817,8.0500,S
678,3.0,0.0,"Boulos, Master. Akar",male,6.0,1.0,1.0,2678,15.2458,C
486,2.0,0.0,"Leyson, Mr. Robert William Norman",male,24.0,0.0,0.0,C.A. 29566,10.5000,S
537,2.0,0.0,"Ponesell, Mr. Martin",male,34.0,0.0,0.0,250647,13.0000,S
924,3.0,0.0,"Kelly, Mr. James",male,34.5,0.0,0.0,330911,7.8292,Q
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0,0.0,0.0,2670,7.2250,C
936,3.0,1.0,"Kink-Heilmann, Mrs. Anton (Luise Heilmann)",female,26.0,1.0,1.0,315153,22.0250,S
686,3.0,1.0,"Bradley, Miss. Bridget Delia",female,22.0,0.0,0.0,334914,7.7250,Q
12,1.0,1.0,"Aubart, Mme. Leontine Pauline",female,24.0,0.0,0.0,PC 17477,69.3000,C
811,3.0,0.0,"Ford, Mrs. Edward (Margaret Ann Watson)",female,48.0,1.0,3.0,W./C. 6608,34.3750,S
1102,3.0,0.0,"Panula, Master. Juha Niilo",male,7.0,4.0,1.0,3101295,39.6875,S
573,2.0,1.0,"Troutt, Miss. Edwina Celia ""Winnie""",female,27.0,0.0,0.0,34218,10.5000,S
1054,3.0,0.0,"Naughton, Miss. Hannah",female,NaN,0.0,0.0,365237,7.7500,Q
241,1.0,0.0,"Rood, Mr. Hugh Roscoe",male,NaN,0.0,0.0,113767,50.0000,S
86,1.0,1.0,"Daly, Mr. Peter Denis",male,51.0,0.0,0.0,113055,26.5500,S
1005,3.0,0.0,"McEvoy, Mr. Michael",male,NaN,0.0,0.0,36568,15.5000,Q
884,3.0,0.0,"Jensen, Mr. Niels Peder",male,48.0,0.0,0.0,350047,7.8542,S
108,1.0,1.0,"Fleming, Miss. Margaret",female,NaN,0.0,0.0,17421,110.8833,C
1212,3.0,0.0,"Slabenoff, Mr. Petco",male,NaN,0.0,0.0,349214,7.8958,S
987,3.0,0.0,"Mahon, Miss. Bridget Delia",female,NaN,0.0,0.0,330924,7.8792,Q

Podemos observar que ahora nuestro modelo se encuentra mucho mas limpio y con pocos nulos, por lo que vamos a porceder a imputar nuestras variables y asi llenar nuestros huecos.

In [71]:
def complete_continuous_variables(df,col,strategy='median'):
    X = df[col].copy()
    im = SimpleImputer(strategy=strategy)
    Xi = pd.DataFrame(im.fit_transform(X),columns=col)
    l_ks = []
    for v in col:
        l_ks.append([v,ks_2samp(X[v].dropna(),Xi[v]).statistic])
    ks = pd.DataFrame(l_ks,columns=['feat','ks'])
    print(ks)
    print((ks.ks>=0.1).sum())
    df[col] = im.transform(df[col].copy())
    return df

In [72]:
completitud_datos_nulos(df)

age         0.201070
embarked    0.001529
survived    0.000000
pclass      0.000000
sex         0.000000
name        0.000000
sibsp       0.000000
parch       0.000000
ticket      0.000000
fare        0.000000
dtype: float64

Recordemos que tenemos variables nulas en embarked y age

In [73]:
X = df[['age' ]]. copy()
im = SimpleImputer(strategy='median')
df['age'] = im.fit_transform(df[['age']].copy())

In [74]:
df['embarked'].value_counts(dropna=False)

embarked
S      913
C      270
Q      123
NaN      2
Name: count, dtype: int64

In [75]:
X_embarked = df[['embarked']].copy() 
im = SimpleImputer(strategy='most_frequent') 
df['embarked'] = im.fit_transform(X_embarked).ravel()

In [76]:
df.shape

(1308, 10)

In [77]:
completitud_datos_nulos(df)

pclass      0.0
survived    0.0
name        0.0
sex         0.0
age         0.0
sibsp       0.0
parch       0.0
ticket      0.0
fare        0.0
embarked    0.0
dtype: float64

In [78]:
completitud_datos_nulos(df)

pclass      0.0
survived    0.0
name        0.0
sex         0.0
age         0.0
sibsp       0.0
parch       0.0
ticket      0.0
fare        0.0
embarked    0.0
dtype: float64

Al realizar todo este analsis ya podemos decir que no hay nulos en nuestras columnas

In [79]:
df.sample(n=30)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,embarked
1169,3.0,0.0,"Saether, Mr. Simon Sivertsen",male,38.5,0.0,0.0,SOTON/O.Q. 3101262,7.2500,S
540,2.0,1.0,"Quick, Miss. Phyllis May",female,2.0,1.0,1.0,26360,26.0000,S
888,3.0,0.0,"Johanson, Mr. Jakob Alfred",male,34.0,0.0,0.0,3101264,6.4958,S
284,1.0,1.0,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0.0,0.0,113572,80.0000,S
246,1.0,0.0,"Rothschild, Mr. Martin",male,55.0,1.0,0.0,PC 17603,59.4000,C
288,1.0,1.0,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0.0,0.0,17466,25.9292,S
599,2.0,0.0,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24.0,0.0,0.0,248747,13.0000,S
193,1.0,1.0,"Madill, Miss. Georgette Alexandra",female,15.0,0.0,1.0,24160,211.3375,S
682,3.0,0.0,"Bourke, Miss. Mary",female,28.0,0.0,2.0,364848,7.7500,Q
27,1.0,1.0,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.0,1.0,0.0,11967,91.0792,C
973,3.0,0.0,"Lithman, Mr. Simon",male,28.0,0.0,0.0,S.O./P.P. 251,7.5500,S
990,3.0,0.0,"Makinen, Mr. Kalle Edvard",male,29.0,0.0,0.0,STON/O 2. 3101268,7.9250,S
603,3.0,1.0,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35.0,1.0,1.0,C.A. 2673,20.2500,S
646,3.0,1.0,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1.0,5.0,347077,31.3875,S
426,2.0,0.0,"Hale, Mr. Reginald",male,30.0,0.0,0.0,250653,13.0000,S
951,3.0,0.0,"Larsson, Mr. Bengt Edvin",male,29.0,0.0,0.0,347067,7.7750,S
132,1.0,0.0,"Giglio, Mr. Victor",male,24.0,0.0,0.0,PC 17593,79.2000,C
128,1.0,0.0,"Gee, Mr. Arthur H",male,47.0,0.0,0.0,111320,38.5000,S
638,3.0,0.0,"Asim, Mr. Adola",male,35.0,0.0,0.0,SOTON/O.Q. 3101310,7.0500,S
776,3.0,0.0,"Dooley, Mr. Patrick",male,32.0,0.0,0.0,370376,7.7500,Q
868,3.0,0.0,"Holm, Mr. John Fredrik Alexander",male,43.0,0.0,0.0,C 7075,6.4500,S
566,2.0,0.0,"Stanton, Mr. Samuel Ward",male,41.0,0.0,0.0,237734,15.0458,C
343,2.0,1.0,"Beesley, Mr. Lawrence",male,34.0,0.0,0.0,248698,13.0000,S
1151,3.0,0.0,"Risien, Mrs. Samuel (Emma)",female,28.0,0.0,0.0,364498,14.5000,S
399,2.0,0.0,"Drew, Mr. James Vivian",male,42.0,1.0,1.0,28220,32.5000,S
83,1.0,1.0,"Crosby, Mrs. Edward Gifford (Catherine Elizabe...",female,64.0,1.0,1.0,112901,26.5500,S
278,1.0,1.0,"Stahelin-Maeglin, Dr. Max",male,32.0,0.0,0.0,13214,30.5000,C
241,1.0,0.0,"Rood, Mr. Hugh Roscoe",male,28.0,0.0,0.0,113767,50.0000,S
905,3.0,1.0,"Jonsson, Mr. Carl",male,32.0,0.0,0.0,350417,7.8542,S
1045,3.0,0.0,"Myhrman, Mr. Pehr Fabian Oliver Malkolm",male,18.0,0.0,0.0,347078,7.7500,S

In [80]:
columna_ee = ['name', 'ticket']

df = df.drop(columna_ee, axis=1)

In [81]:
df.shape
completitud_datos_nulos(df)

pclass      0.0
survived    0.0
sex         0.0
age         0.0
sibsp       0.0
parch       0.0
fare        0.0
embarked    0.0
dtype: float64

In [82]:
df.sample(n=30)

      pclass  survived     sex   age  sibsp  parch      fare embarked
755      3.0       0.0    male  17.0    2.0    0.0    8.0500        S
704      3.0       0.0    male  21.0    0.0    0.0    8.0500        S
1258     3.0       1.0  female  29.0    0.0    2.0   15.2458        C
157      1.0       0.0    male  28.0    0.0    0.0   51.8625        S
306      1.0       0.0    male  54.0    0.0    1.0   77.2875        S
81       1.0       0.0    male  70.0    1.0    1.0   71.0000        S
1113     3.0       0.0  female  26.0    0.0    2.0   13.7750        S
286      1.0       0.0  female  63.0    1.0    0.0  221.7792        S
518      2.0       0.0    male  19.0    1.0    1.0   36.7500        S
731      3.0       0.0    male  19.0    0.0    0.0    7.8958        S
727      3.0       0.0    male  70.5    0.0    0.0    7.7500        Q
366      2.0       0.0    male  54.0    1.0    0.0   26.0000        S
550      2.0       1.0  female  24.0    2.0    3.0   18.7500        S
1007     3.0       1.0  female  15.0    0.0    0.0    8.0292        Q
1292     3.0       0.0    male  28.0    0.0    0.0    7.5500        S
564      2.0       1.0  female  40.0    0.0    0.0   13.0000        S
498      2.0       0.0    male  32.0    0.0    0.0   13.5000        S
912      3.0       0.0    male  30.0    0.0    0.0    7.8958        S
258      1.0       1.0  female  30.0    0.0    0.0   31.0000        C
190      1.0       1.0  female  21.0    0.0    0.0   77.9583        S
1006     3.0       1.0  female  28.0    0.0    0.0    7.8792        Q
1125     3.0       0.0    male  24.0    0.0    0.0    8.0500        S
698      3.0       0.0    male  18.0    0.0    0.0    8.6625        S
850      3.0       0.0    male  21.0    0.0    0.0    7.8542        S
199      1.0       1.0  female  24.0    0.0    0.0   49.5042        C
722      3.0       0.0    male  24.0    0.0    0.0    7.4958        S
974      3.0       0.0    male  30.0    1.0    0.0   16.1000        S
893      3.0       0.0    male  29.0    0.0    0.0    7.8542        S
1078     3.0       1.0  female  28.0    0.0    0.0    7.8792        Q
108      1.0       1.0  female  28.0    0.0    0.0  110.8833        C

In [83]:
sexo = {'male':0, 'female' :1}
df['sex'] = df['sex'].map(sexo)

embarked = {'C':0, 'Q':1, 'S': 2}
df['embarked' ] = df['embarked' ].map(embarked)

La columna sex fue convertida a valores numéricos, asignando 0 para 'male' y 1 para 'female'.

La columna embarked, fue codificada como 0 para 'C' (Cherbourg), 1 para 'Q' (Queenstown) y 2 para 'S' (Southampton).

In [84]:
df.sample(n=30)

      pclass  survived  sex   age  sibsp  parch      fare  embarked
508      2.0       0.0    0  54.0    0.0    0.0   14.0000         2
938      3.0       0.0    0  18.0    1.0    1.0    7.8542         2
36       1.0       1.0    1  22.0    0.0    1.0   55.0000         2
1014     3.0       0.0    1  28.0    0.0    0.0    8.0500         2
245      1.0       1.0    1  33.0    0.0    0.0   86.5000         2
1127     3.0       0.0    0  19.0    0.0    0.0    7.8958         2
1094     3.0       1.0    1  31.0    0.0    0.0    8.6833         2
319      1.0       1.0    1  31.0    0.0    0.0  134.5000         0
64       1.0       1.0    0  27.0    1.0    0.0   53.1000         2
106      1.0       0.0    0  28.0    0.0    0.0  221.7792         2
104      1.0       1.0    1  54.0    1.0    0.0   78.2667         0
1163     3.0       0.0    0  28.0    0.0    0.0   24.1500         1
191      1.0       0.0    0  30.0    0.0    0.0   45.5000         2
876      3.0       0.0    0  28.0    0.0    0.0    7.8958         2
817      3.0       0.0    0  22.0    0.0    0.0    8.0500         2
934      3.0       1.0    1   4.0    0.0    2.0   22.0250         2
867      3.0       1.0    1  22.0    1.0    1.0   12.2875         2
830      3.0       0.0    0  14.0    5.0    2.0   46.9000         2
1141     3.0       0.0    0  10.0    4.0    1.0   29.1250         1
933      3.0       0.0    0  26.0    2.0    0.0    8.6625         2
730      3.0       0.0    0  27.0    0.0    0.0    7.8958         2
737      3.0       0.0    0  19.0    0.0    0.0    8.1583         2
944      3.0       0.0    0  28.0    0.0    0.0    7.8958         2
639      3.0       0.0    0   5.0    4.0    2.0   31.3875         2
722      3.0       0.0    0  24.0    0.0    0.0    7.4958         2
261      1.0       1.0    0  35.0    0.0    0.0   26.2875         2
156      1.0       0.0    0  42.0    0.0    0.0   42.5000         2
381      2.0       0.0    1  30.0    0.0    0.0   13.0000         2
728      3.0       0.0    0  43.0    0.0    0.0    8.0500         2
1298     3.0       0.0    0  36.0    0.0    0.0    9.5000         2

In [85]:
varc = list(df.describe())

In [86]:
varc = [x for x in varc if x not in 'survived']

In [87]:
vard = [x for x in df.columns if x not in varc+['survived']]

In [88]:
tgt = 'survived'

In [89]:
df[tgt].value_counts()

survived
0.0    808
1.0    500
Name: count, dtype: int64

# Modelacion clasificacion

In [90]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier

from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV

In [91]:
X = df[varc].copy() #TAD "Tabla Analitica de Datos"

In [92]:
y = df[tgt].copy() #variable objetivo

In [93]:
sc = MinMaxScaler()
Xs = pd.DataFrame(sc.fit_transform(X), columns=varc)

In [94]:
y = y.astype(int)

In [95]:
Xt, Xv, yt, yv = train_test_split(Xs,y, train_size=0.7)

In [96]:
def entrenar(param, modelo, X,y):
    grid = RandomizedSearchCV(param_distributions=param,
                             n_jobs=-1,
                             n_iter=10,
                             cv=4,
                             estimator=modelo,
                             error_score='raise')
    grid.fit(X,y)
    return grid, grid.best_estimator_, grid.best_score_, grid.best_params_

In [97]:
def metricas(Xt, Xv, yt, yv, modelo):
    d = {'train':round(roc_auc_score(y_true=yt, y_score=modelo.predict_proba(Xt)[:,1]),3),
         'validate':round(roc_auc_score(y_true=yv, y_score=modelo.predict_proba(Xv)[:,1]),3)
        }
    return d

# Red Neuronal

In [98]:
param_mlpc = dict(hidden_layer_sizes = [(a,b,c,) for a in range(len(varc), len(varc)*2) for b in range(len(varc), len(varc)*2) for c in range(len(varc), len(varc)*2)],
             activation = ['identity', 'logistic', 'tanh', 'relu'],
             solver = ['lbfgs', 'sgd', 'adam'],
             alpha = np.arange(0.0001, 0.001, 0.0001),
             learning_rate = ['constant', 'invscaling', 'adaptive'])

In [101]:
modelo_mlpc = MLPClassifier()
modelo_mlpc, best_estimator_mlpc, score_mlpc, params_mlpc = entrenar(param_mlpc, modelo_mlpc, Xt, yt)
metricas(Xt,Xv,yt,yv,modelo_mlpc)

C:\Users\migue\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\neural_network\_multilayer_perceptron.py:691: ConvergenceWarning:

Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.

{'train': np.float64(0.855), 'validate': np.float64(0.833)}

In [102]:
import pickle

In [103]:
filename = './MiguelGalindo_redneural.pkl'
with open(filename, 'wb') as file:
    pickle.dump(modelo_mlpc,file)
    
print(f'Modelo guardado en {filename}')

Modelo guardado en ./MiguelGalindo_redneural.pkl

In [104]:
pwd

'c:\\Users\\migue\\OneDrive\\Desktop\\PruebasMinerias\\DMUNAM2025\\practica_3'

In [105]:
params_mlpc

{'solver': 'adam',
 'learning_rate': 'invscaling',
 'hidden_layer_sizes': (9, 12, 12),
 'alpha': np.float64(0.0004),
 'activation': 'relu'}

In [106]:
score_mlpc

np.float64(0.8120211828698383)

In [107]:
best_estimator_mlpc

MLPClassifier(alpha=np.float64(0.0004), hidden_layer_sizes=(9, 12, 12),
              learning_rate='invscaling')

In [108]:
modelo_mlpc

RandomizedSearchCV(cv=4, error_score='raise', estimator=MLPClassifier(),
                   n_jobs=-1,
                   param_distributions={'activation': ['identity', 'logistic',
                                                       'tanh', 'relu'],
                                        'alpha': array([0.0001, 0.0002, 0.0003, 0.0004, 0.0005, 0.0006, 0.0007, 0.0008,
       0.0009]),
                                        'hidden_layer_sizes': [(7, 7, 7),
                                                               (7, 7, 8),
                                                               (7, 7, 9),
                                                               (7, 7, 10),
                                                               (7, 7, 11),
                                                               (7, 7, 12),
                                                               (7, 7, 13),
                                                               (7, 8, 7),
                                                               (7, 8, 8),
                                                               (7, 8, 9),
                                                               (7, 8, 10),
                                                               (7, 8, 11),
                                                               (7, 8, 12),
                                                               (7, 8, 13),
                                                               (7, 9, 7),
                                                               (7, 9, 8),
                                                               (7, 9, 9),
                                                               (7, 9, 10),
                                                               (7, 9, 11),
                                                               (7, 9, 12),
                                                               (7, 9, 13),
                                                               (7, 10, 7),
                                                               (7, 10, 8),
                                                               (7, 10, 9),
                                                               (7, 10, 10),
                                                               (7, 10, 11),
                                                               (7, 10, 12),
                                                               (7, 10, 13),
                                                               (7, 11, 7),
                                                               (7, 11, 8), ...],
                                        'learning_rate': ['constant',
                                                          'invscaling',
                                                          'adaptive'],
                                        'solver': ['lbfgs', 'sgd', 'adam']})

# Random Forest

In [109]:
param = dict(n_estimators = range(2,10),
             max_depeth = range(2,6),
             max_features = range(2,len(varc)),
             criterion = ['gini', 'entropy'])

In [128]:
param = dict(n_estimators=list(range(50, 300, 50)),
                                    criterion=['gini', 'entropy'],
                                    max_depth=[x for x in list(range(2, 5))] + [None],
                                    min_samples_split=[x for x in list(range(2, 4))],
                                    min_samples_leaf=[x for x in list(range(2, 4))],
                                    max_features=[None] + [i * .05 for i in list(range(2, 4))],
                                    max_leaf_nodes=list(range(2, 10)) + [None],
                                    min_impurity_decrease=[x * .10 for x in list(range(2, 4))],
                                    oob_score=[True,False],
                                    warm_start=[True, False],
                                    class_weight=[None, 'balanced'],
                                    max_samples=[None],)

In [129]:
modelo = RandomForestClassifier()
modelo, best_estimator, score, params = entrenar(param, modelo, Xt, yt)
metricas(Xt,Xv,yt,yv,modelo)

{'train': np.float64(0.768), 'validate': np.float64(0.741)}

In [113]:
filename = './Miguel_randomforest.pkl'
with open(filename, 'wb') as file:
    pickle.dump(modelo_mlpc, file)

print(f'Modelo guardado en {filename}')

Modelo guardado en ./Miguel_randomforest.pkl

# Ada Boost

In [114]:
from sklearn.ensemble import AdaBoostClassifier

In [117]:
param_adab = dict(n_estimators = range(2,10),
             learning_rate = np.arange(0.1,1,0.1),
             algorithm = ['SAMME'])

In [118]:
modelo_adab = AdaBoostClassifier()
modelo_adab, best_estimator, score, params = entrenar(param_adab, modelo_adab, Xt, yt)
metricas(Xt,Xv,yt,yv,modelo_adab)

C:\Users\migue\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\ensemble\_weight_boosting.py:519: FutureWarning:

The parameter 'algorithm' is deprecated in 1.6 and has no effect. It will be removed in version 1.8.

{'train': np.float64(0.839), 'validate': np.float64(0.816)}

In [119]:
filename = './Miguel_adaboost.pkl'
with open(filename, 'wb') as file:
    pickle.dump(modelo_mlpc, file)

print(f'Modelo guardado en {filename}')

Modelo guardado en ./Miguel_adaboost.pkl

# Analisis Discriminante

In [120]:
param_lda = dict(solver = ['svd', 'lsqr', 'eigen'])

In [124]:
modelo = LinearDiscriminantAnalysis()
modelo, best_estimator, score, params = entrenar(param_lda, modelo, Xt, yt)
metricas(Xt,Xv,yt,yv,modelo)

C:\Users\migue\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\model_selection\_search.py:317: UserWarning:

The total space of parameters 3 is smaller than n_iter=10. Running 3 iterations. For exhaustive searches, use GridSearchCV.

{'train': np.float64(0.848), 'validate': np.float64(0.829)}

In [125]:
filename = './Miguel_analisisdiscriminante.pkl'
with open(filename, 'wb') as file:
    pickle.dump(modelo_mlpc, file)

print(f'Modelo guardado en {filename}')

Modelo guardado en ./Miguel_analisisdiscriminante.pkl